
body {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    align-items: center;
    background-color: cornflowerblue;
}

.play-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: grid;
    width: 95vh;
    height: 95vh;
    border: solid 5px black;
    text-align: center;
    background-color: #FFF !important;
}

.grid-item {
    padding: 0px;
    margin: 0px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-buttons {
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

#reset-board {
    background-color: #FF1133;
}

#normal-mode {
    background-color: #000;
    color: #FFF;
}

#rgb-mode {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#gray-mode {
    background-image: linear-gradient(to right, #FFF, #DDD, #BBB, #AAA, #888, #666, #444);
}